*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    body {
        height: 100vh;
        background: linear-gradient(
            to top,
            rgb(65, 67, 68) 0%,
            rgb(65, 67, 68) 20%,
            rgb(255, 255, 255) 20%,
            rgb(255, 255, 255) 100%
        );
    }

    .btn {
      background-color: rgb(65, 67, 68); 
      border: none;
      color: rgb(255, 255, 255);
      padding: 20px;
      width: 130px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: bold;
      position: relative;
      left: 50px;
      top: 200px;
      text-transform: uppercase;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      -webkit-transition-property: box-shadpw, transition;
      transition-property: box-shadpw, transition;
    }
    
    .btn:hover, .btn:focus, .btn:active{
      box-shadow: 0 0 20px  rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: rgb(24, 174, 229);
  }
h1 {
  font-size: 64px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;   
  position: absolute;
  left:5%;
  top: 10%;
}

h2 {
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;

}

h3 {
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: justify;
  position: absolute;
left:35%;
  width: 10cm;
  overflow-wrap: break-word;
}


p {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    position: absolute;
    left: 450px;
    top: 200px;
    width: 20cm;
    overflow-wrap: break-word;
}

